<!-- searchBox  -->
<!-- moviesContainer  -->
<!-- -> movies  -->
<!-- // footer -> pagination -->
<app-search-box (emitQuery)="debouncedSearchMovie($event)"></app-search-box>
<app-movies-container
  *ngIf="movies?.length; else noMovies"
  [movies]="movies"
></app-movies-container>
<ng-template #noMovies>
  <h1 class="text-center m-4">No movies present with this keyword</h1>
</ng-template>
<app-pagination
  *ngIf="numberOfPages > 1"
  [numberOfPages]="numberOfPages"
  [currentPage]="currentPageNo"
  (goToPage)="goToPage($event)"
></app-pagination>
