/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.m-4 {
  margin: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.p-2 {
  padding: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.highlighted {
  border: 1px solid red;
}
